<ion-view view-title="CA News and Updates">
  <ion-content>
    <div ng-repeat="item in data">
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/CA-logo.png">
          <h2>Companion Athletics</h2>
          <p>News and Updates</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="{{item.full_picture}}" style="max-height: 150px;" 
          ng-if="item.full_picture">
          <img class="full-image text-center" src="img/CA-logo.png" style="max-height: 150px; max-width: 75%; float:middle;" 
          ng-if="!item.full_picture">
          <p>{{item.message}}</p>
          <p>
            <a href="#" class="subdued" ng-if="item.likes.data.length">{{item.likes.data.length}} Likes</a>
            <a href="#" class="subdued" ng-if="item.shares.count">{{item.shares.count}} Shares</a>
          </p>
        </div>
        <!-- <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i> Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i> Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i> Share
          </a>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
