<ion-view view-title="League Standings">
  <ion-content>
    <div class="list">
     <div class="item item-margin">1.  OBK (6-0)</div>
     <div class="item item-margin">2.  Brotherhood (5-1)</div>
     <div class="item item-margin">3.  OCC (4-2)</div>
     <div class="item item-margin">4.  Al Huda (3-3)</div>
     <div class="item item-margin">4.  Federal Way (2-4)</div>
     <div class="item item-margin">5.  Hope Academy (1-5)</div>
     <div class="item item-margin">6.  Abu Bakr (0-6)</div>
    </div>
  </ion-content>
</ion-view>
