<ion-view view-title="Companion Athletics">
  <ion-content class="padding games">
    <ion-list>
      <h4 class="text-center">Senior League <span class="ion-ios-basketball"></span></h4>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
            Brotherhood
          </div>
          <div class="col col-33">
              4pm
          </div>
          <div class="col col-33">
            OBK
          </div>
        </div>
      </ion-item>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
              Kent
          </div>
          <div class="col col-33">
              5pm
          </div>
          <div class="col col-33">
            Federal Way
          </div>
        </div>
      </ion-item>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
              Hope Academy
          </div>
          <div class="col col-33">
              6pm
          </div>
          <div class="col col-33">
            OCC
          </div>
        </div>
      </ion-item>
      <h4 class="text-center">Junior League <span class="ion-ios-basketball"></span></h4>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
            Abu Bakr
          </div>
          <div class="col col-33">
            7pm
          </div>
          <div class="col col-33">
            OBK
          </div>
        </div>
      </ion-item>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
            Kent
          </div>
          <div class="col col-33">
            8pm
          </div>
          <div class="col col-33">
            Federal Way
          </div>
        </div>
      </ion-item>
      <ion-item class="item-margin">
        <div class="row text-center">
          <div class="col col-33">
            Hope Academy
          </div>
          <div class="col col-33">
            9pm
          </div>
          <div class="col col-33">
            OCC
          </div>
        </div>
      </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
