<ion-view view-title="Videos">
  <ion-content class="padding">
    <ion-list>
        <!-- <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div> -->
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/CA-logo.png">
            <h2>Companion Athletics</h2>
            <p>Videos and Media</p>
          </div>
          <div class="item item-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/V3a8wahoXSw" frameborder="0" width="560" height="315"></iframe>
            </div>
            <p>Watch our documentary</p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">3 Comments</a>
              <a href="#" class="subdued">8 Share</a>
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i> Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i> Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i> Share
            </a>
          </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
