<ion-view view-title="Videos">
  <ion-content class="padding">
    <ion-list>
    <div ng-repeat="video in videos">
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/CA-logo.png">
            <h2>Companion Athletics</h2>
            <p>Videos and Media</p>
          </div>
          <div class="item item-body">
            <div class="video-container">
              <div ng-bind-html="video.format[0].embed_html | unsafe"></div>
            </div>
            <p>{{video.description}}</p>
            <p>
              <a href="#" class="subdued">{{video.likes.data.length}} Likes</a>
            </p>
          </div>
        </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
