<ion-view view-title="CA News and Updates">
  <ion-content>
    <div ng-repeat="item in data">
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/CA-logo.png">
          <h2>Companion Athletics</h2>
          <p>News and Updates</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="{{item.full_picture}}">
          <p>Companion Athletics player of the week high school Toto Mohamed 28 pts 4 ast Class Of '19</p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">3 Comments</a>
            <a href="#" class="subdued">8 Share</a>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i> Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i> Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i> Share
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
